@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Poppins:wght@500&display=swap');

html,
body {
    background: black;
    color: white;
    margin: 0%;
    padding: 0%;
    width: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.stiky-head {
    width: 100%;
}

.stiky-head nav {
    line-height: 20px;
}

.logo {
    margin: 0 30px;
    justify-content: space-between;
    line-height: 80px;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 1px #6eebe0;
    background-image: linear-gradient(to left, #6eebe0, #6eebe0, black, rgb(53, 51, 33));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.5s;
    color: transparent;
    animation: anim 5s linear infinite;
    cursor: pointer;
}

.logo:hover {
    text-shadow: 0 0 10px #6eebe0, 0 0 20px #6eebe0, 0 0 40px rgba(86, 238, 218, 0.8), 0 0 80px #6eebe0, 0 0 160px #6eebe0, 0 0 320px #6eebe0;
    color: #6eebe0;
}

@keyframes anim {
    to {
        background-position: 2000px;
    }
}


li {
    list-style: none;
    letter-spacing: 4px;
    padding: 0px 10px;
}

header {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.4);
    background: #000;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #6eebe0;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

header ul li:hover {
    box-shadow: 0 0 10px #0cf0f880, 0 0 20px rgba(121, 218, 205, 0.2), 0 0 40px rgba(87, 226, 191, 0.3);
    border: 0.2px solid #ffffff;

}

.stiky-head nav {
    float: right;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
}

header ul li:active {
    background-color: #29ffe3;
}

header ul li a:active {
    color: #ffffff;
}

header ul li a {
    color: #29ffe3;
    font-weight: 600;
    padding: 8px 20px;
    transition: 0.1s;
}

header ul li a:hover {
    text-shadow: 0 0 10px #0cf0f880;

}

.text-box {
    margin-top: -151px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 0;
    width: 100%;
    display: flex;
    margin-bottom: 0px;
}

.text-box h1 {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-box a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #29ffe3;
    color: #29ffe3;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .btn1 {
    transition: 0.5s;
}

.text-box .btn1:hover {
    box-shadow: 0 0 10px #0cf0f880, 0 0 20px rgba(121, 218, 205, 0.5), 0 0 40px rgba(87, 226, 191, 0.8), 0 0 140px rgba(112, 231, 202, 0.8), 0 0 30px rgba(73, 224, 217, 0.8), 0 0 20px rgba(82, 219, 201, 0.8) inset;
    text-shadow: 0 0 10px #0cf0f880, 0 0 20px rgba(121, 218, 205, 0.5), 0 0 40px rgba(87, 226, 191, 0.8), 0 0 140px rgba(112, 231, 202, 0.8), 0 0 30px rgba(73, 224, 217, 0.8), 0 0 20px rgba(82, 219, 201, 0.8) inset;
}

.text-box .btn {
    background: #29ffe3;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
    transition: 0.5s;
}

.text-box .btn:hover {
    box-shadow: 0 0 10px #0cf0f880, 0 0 20px rgba(121, 218, 205, 0.5), 0 0 40px rgba(87, 226, 191, 0.8), 0 0 140px rgba(112, 231, 202, 0.8), 0 0 30px rgba(73, 224, 217, 0.8), 0 0 20px rgba(82, 219, 201, 0.8) inset;
    color: wheat;
}

.text-box p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-image {
    width: auto;
    margin-bottom: 0%;
    margin-left: 30%;
    margin-top: 40%;
    margin-right: 10%;
    height: 450px;
    border: 1px solid #29ffe3;
    border-radius: 120px 50px 100px 3px;
    background-position: cover;
    padding: 0;

}

.text-box .sector1 {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 10%;
    width: 40%;


}

.line {
    width: 100%;
    height: 1112px;
    top: 80px;
    background: #030505;
    box-shadow: 0 0 10px #00030380, 0 0 20px rgba(121, 218, 205, 0.5), 0 0 40px rgba(87, 226, 191, 0.8), 0 0 140px rgba(112, 231, 202, 0.8), 0 0 30px rgba(73, 224, 217, 0.8), 0 0 20px rgba(82, 219, 201, 0.8);
}

.auto-input {
    color: #29ffe3;
}

#home {
    margin-top: 10%;
    width: 100%;
    height: 100vh;
}

#about {
    height: 100vh;
    width: 100%;
    margin-bottom: 20%;
}

.Introduction {
    padding-top: 8%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.profile-img img {
    margin-top: 8%;
    height: 450px;
    border: 1px solid #29ffe3;
    border-radius: 120px 50px 100px 3px;
    margin-left: 3%;

}

.profile-content {
    padding: 2%;
    margin-top: -5%;
    width: 60%;
    text-align: justify;
}

.profile-content button {
    background: none;
    border: 2px solid #29ffe3;
    border-radius: 10px;
    color: #29ffe3;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.profile-content button:hover {
    box-shadow: 0 0 10px #0cf0f880, 0 0 20px rgba(121, 218, 205, 0.2), 0 0 40px rgba(87, 226, 191, 0.3), 0 0 80px rgba(112, 231, 202, 0.3), 0 0 60px rgba(73, 224, 217, 0.2), 0 0 320px rgba(82, 219, 201, 0.3);
}

.profile-content button,
h1,
h2,
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-content h1 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 40px;
    padding: 2px;
    margin-bottom: 3px;
}

.profile-content h2 {
    text-transform: capitalize;
    color: #29ffe3;
    margin-top: 3px;
}

.profile-content p a {
    color: #29ffe3;
}

.profile-content p {
    font-weight: 600;
}

/* education styling */

.education {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 20px;
    align-self: center;

}

.matric h2 {
    color: #29ffe3;
}

.isc h2 {
    color: #29ffe3;
}

.BCA h2 {
    color: #29ffe3;
}

.matric {
    border: 1px solid #29ffe3;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    margin: 10px;
    text-align: center;
}

.isc {
    border: 1px solid #29ffe3;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    margin: 10px;
    text-align: center;
}

.BCA {
    border: 1px solid #29ffe3;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#edu
{
    margin-top: 20%;
}
#edu h1 {
    text-align: center;
    color: #29ffe3;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 5px solid #6eebe0;
    border-radius: 20px;
    width: 80%;
    margin: 10%;
    font-size: 80px;
    padding-top: 7%;

}

/* --------------skills bar--------------------------- */

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    margin: 5% 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .skill {
    width: 100%;
  }

  .skill-label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .progress-bar {
    width: 100%;
    height: 20px;
    background-color:transparent;
    border-radius: 5px;
    overflow: hidden;
  }
#skill h1
{
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid #29ffe3;
    border-radius: 63px;
    width: 200px;
    margin: 20% auto;
}
